<footer class="footer">
    <h2 class="footer__title">Thanks for visiting</h2>
    <h3 class="footer__sub-title">Quick links</h3>
    <ul class="footer__list">
        <li class="footer__list--item">
            <a href="{% url 'core:home' %}" class="footer__list--link">Home</a>
            <a href="{% url 'core:about' %}" class="footer__list--link">About</a>
            <a href="{% url 'core:contact' %}" class="footer__list--link">Contact</a>
            <a href="{% url 'core:terms' %}" class="footer__list--link">Terms & conditions</a>
        </li>
    </ul>
</footer>