:root {
  --font-family-primary: "Tauri", Geneva, sans-serif;
  --font-family-secondary: "Roboto Mono", cursive, sans-serif;
  --font-family-title: "Josefin Sans", Times, serif;
  --font-size-base: 1rem;
}
