<template id="aboutPage">
    <h2>About</h2>
    <p>
        This is a simple web application that demonstrates how to use the
        Vanilla JavaScript library to create a single-page application (SPA).
    </p>
    <p>
        The application has a home page, an about page, a contact page, and a
        terms and conditions page. The application also has a user authentication
        system that allows users to register, log in, and log out.
    </p>
    <p>
        The application uses the following technologies:
    </p>
    <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Django</li>
        <li>Django REST framework</li>
        <li>PostgreSQL</li>
    </ul>
    <p>
        The application is hosted on Heroku and uses the Heroku PostgreSQL
        add-on for the database.
    </p>
    <p>
        The application is open source and the source code is available on
        GitHub at the following URL: <a href="https://github.com/opaque-maniac/blog_site" target="_blank"
            rel="noopener noreferrer">Repository</a>
    </p>
</template>