<template id="allPosts">
    <h2>All Posts</h2>
    <div id="posts">
        <ul class="post-list"></ul>
    </div>
    <div id="pagination">
        <a href="javascript:void(0)" class="paginator-link" id="prev-pagination">
            <span class="fa-regular fa-circle-left"></span>
        </a>
        <span id="page-number">1</span>
        <a href="javascript:void(0)" class="paginator-link" id="next-pagination">
            <span class="fa-regular fa-circle-right"></span>
        </a>
    </div>
</template>