<template id="homePage">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, tortor id aliquam tincidunt, nunc nisl
        tincidunt nunc, id lacinia nunc nisl id nunc. Nulla facilisi. Sed auctor, nunc id aliquet ultrices, nunc nisl
        aliquet nunc, id aliquet nunc nisl id nunc.</p>
    <p>Nullam euismod, tortor id aliquam tincidunt, nunc nisl tincidunt nunc, id lacinia nunc nisl id nunc. Nulla
        facilisi. Sed auctor, nunc id aliquet ultrices, nunc nisl aliquet nunc, id aliquet nunc nisl id nunc. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Sed euismod, tortor id aliquam tincidunt, nunc nisl tincidunt nunc, id lacinia nunc nisl id nunc. Nulla facilisi.
        Sed auctor, nunc id aliquet ultrices, nunc nisl aliquet nunc, id aliquet nunc nisl id nunc. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit.</p>
    <p>Nullam euismod, tortor id aliquam tincidunt, nunc nisl tincidunt nunc, id lacinia nunc nisl id nunc. Nulla
        facilisi. Sed auctor, nunc id aliquet ultrices, nunc nisl aliquet nunc, id aliquet nunc nisl id nunc. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Sed euismod, tortor id aliquam tincidunt, nunc nisl tincidunt nunc, id lacinia nunc nisl id nunc. Nulla facilisi.
        Sed auctor, nunc id aliquet ultrices, nunc nisl aliquet nunc, id aliquet nunc nisl id nunc. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit.</p>
    <p>Nullam euismod, tortor id aliquam tincidunt, nunc nisl tincidunt nunc, id lacinia nunc nisl id nunc. Nulla
        facilisi. Sed auctor, nunc id aliquet ultrices, nunc nisl aliquet nunc, id aliquet nunc nisl id nunc. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.</p>
</template>