<template id="register">
    <h2>Login</h2>
    <form method="post" data-url="http://127.0.0.1:8000/api/auth/register/">
        <div class="form-group">
            <label for="email">
                Email:
                <input type="email" name="email" id="email" />
            </label>
        </div>
        <div class="form-group">
            <label for="first_name">
                First Name:
                <input type="text" name="first_name" id="first_name">
            </label>
        </div>
        <div class="form-group">
            <label for="last_name">
                Last Name:
                <input type="text" name="last_name id=" last_name">
            </label>
        </div>
        <div class="form-group">
            <label for="password1">
                Password:
                <input type="password" name="password1" id="password1" />
            </label>
        </div>
        <div class="form-group">
            <label for="password2">
                Confirm password:
                <input type="password" name="password2" id="password2" />
            </label>
        </div>
        <button type="submit">Register</button>

        <div class="alt-link">
            <a href="/login">Login instead!</a>
        </div>
    </form>
</template>