<template id="termsPage">
    <h2>Terms & Conditions</h2>
    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nulla facilisi. Sed euismod nunc vel mi aliquam, eget lacinia nisl ultrices.</li>
        <li>Curabitur euismod justo id semper ultricies.</li>
        <li>Phasellus vitae nunc nec nunc ultrices tincidunt.</li>
        <li>Donec auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Etiam auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Aliquam auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Quisque auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Maecenas auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Proin auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Vestibulum auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Integer auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Suspendisse auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Ut auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Fusce auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Pellentesque auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Morbi auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Nunc auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Interdum auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Quisque auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nulla facilisi. Sed euismod nunc vel mi aliquam, eget lacinia nisl ultrices.</li>
        <li>Curabitur euismod justo id semper ultricies.</li>
        <li>Phasellus vitae nunc nec nunc ultrices tincidunt.</li>
        <li>Donec auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Etiam auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Aliquam auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Quisque auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Maecenas auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Proin auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Vestibulum auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Integer auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Suspendisse auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Ut auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Fusce auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Pellentesque auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Morbi auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Nunc auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Interdum auctor mauris vitae nunc ultrices tincidunt.</li>
        <li>Quisque auctor mauris vitae nunc ultrices tincidunt.</li>
    </ol>
</template>